@import 'utils/utils';
@import 'utils/vars';
@import 'components/container';

body {
  background: $bacgroundColor;
  color: $primaryTextColor;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

//------------ Header ----------

.container--header {
  display: flex;
  align-items: center;
}

.header__line {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  color: $accentColor;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.studio {
  color: #000000;
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $titleTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $timeTransition $timeCubic;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  &:hover {
    color: $accentColor;
  }
  &:focus {
    color: $accentColor;
  }
}

.site-nav__link--current {
  position: relative;
  color: $accentColor;
}

.site-nav__link--current {
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accentColor;
    border-radius: 4px;
    bottom: 0;
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $timeTransition $timeCubic;
}

.contacts-list__link {
  &:hover {
    color: $accentColor;
  }
  &:focus {
    color: $accentColor;
  }
}

.contacts-list__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header--line {
  border-bottom: 1px solid #ececec;
}

//-------- Hero -------

.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin: 0 auto 30px auto;
  color: $textColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// --------- Button -----------

.button {
  display: inline-block;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: $titleTextColor;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  transition: box-shadow $timeTransition $timeCubic,
    color $timeTransition $timeCubic,
    background-color $timeTransition $timeCubic;
}

.button {
  &:hover {
    color: $bacgroundColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    color: $bacgroundColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button--hero {
  display: inline-block;
  padding: 10px 32px;
  color: $textColor;
  background-color: $accentColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color $timeTransition $timeCubic;
}

.button--hero {
  &:focus {
    background-color: #188ce8;
  }
  &:hover {
    background-color: #188ce8;
  }
}

// --------- features -----------

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.futures__list {
  display: flex;
}

.futures__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.futures__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.futures__text {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 1.71;
}

.futures__icon-bcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

// -- what we do --

.we {
  padding-bottom: 94px;
}

.we__picture {
  position: relative;
}

.we__pic-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translate(0%, -100%);
}

.we__title,
.team__title,
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.we__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $textColor;
  margin: 0;
}

.we__list {
  display: flex;
}

.we__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
